/* debug */
/* ★あとで削除 */
/* クラス共通でかける場合（おすすめ） */
.concept_area {
  /* ジャンプした時に、上部に余白を持たせる呪文 */
  scroll-margin-top: 10rem;
}

.wrapper {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  font-family: "Noto Serif JP", serif;
}

.header_area {
  background-image: url("../img/mainvisual-pc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* 画面いっぱいに表示する場合 */
  position: relative;
  padding: 2rem 0;

  writing-mode: vertical-rl;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav_item {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.online_absolute {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  padding: 0.5rem; /* ← これが「はみ出し」部分 */
  background-color: rgba(255, 255, 255, 0.2); /* 外側に透過背景 */
}

.online_shop {
  display: block;
  padding: 1.5rem 1rem;
  color: white;
  font-size: 1.6rem;
  border: 0.1rem solid white;
}

/* ┌─────────────────────────────────────────┐
   │ ニュース                        │
   └─────────────────────────────────────────┘ */

/* タイトルとニュースの親コンテナ flexbox */
.news_area {
  width: 100%;
  padding-right: 15rem;

  display: flex;
  flex-direction: row-reverse;
  gap: 14rem;
  margin-bottom: 16rem;
}

.news_title {
  writing-mode: vertical-rl;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 20rem;
}

.news_en {
  font-size: 2.8rem;
  color: #666666;
  background-color: gray;
}

.news_jp {
  font-size: 3.6rem;
}

.news_wrapper {
  writing-mode: vertical-rl;
  display: flex;
  flex-direction: column;
  margin-top: 27rem;
  gap: 2rem;
}

.news_date {
  font-size: 1.4rem;
  color: #999999;
}

.news_text {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  border-right: 0.1rem solid #000000;
}

.news_wrapper {
  margin-top: 11rem;
}

/* ┌─────────────────────────────────────────┐
   │ 商品のご紹介（concept_area）          │
   └─────────────────────────────────────────┘ */

.concept_area {
  width: 100%;
}

#products1 {
  margin-bottom: 20rem;
}

/* タイトルと画像の親コンテナ flexbox */
.concept_container1 {
  margin-left: auto;
  width: 65%;

  display: flex;

  padding-right: 20rem;

  flex-direction: row-reverse;
}

/* タイトルと画像の親コンテナ flexbox */
.concept_container2 {
  margin-right: auto;
  width: 65%;

  display: flex;

  padding-left: 20rem;
}

/* └ 新しい価値の創造　NEWSコンテナ */
.concept_title_list {
  writing-mode: vertical-rl;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.concept_jp {
  font-size: 3.6rem;
}

.concept_en {
  font-size: 2rem;
}

/* └ 画像とcardのコンテナ */
.concept_card {
  margin-top: 8rem;
  position: relative;
  width: 100%;
}

.concept_img {
  /* width: 63rem; 直接画像に指定 */
  width: 100%;
  height: auto;
}

.concept_text1 {
  width: 56%;
  height: 14rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;

  text-align: center;

  font-size: 1.6rem;
  color: white;
}

.concept_text2 {
  width: 56%;
  height: 14rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  text-align: center;

  font-size: 1.6rem;
  color: white;
}

@media screen and (max-width: 375px) {
  /* タイトルとニュースの親コンテナ flexbox */
  .news_area {
    padding-right: 2rem;

    gap: 4rem;
    margin-bottom: 17rem;
    margin-top: 0rem;
  }

  .news_title {
    writing-mode: vertical-rl;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 8rem;
  }

  .news_en {
    font-size: 2.8rem;
    color: #666666;
    background-color: gray;
  }

  .news_jp {
    font-size: 3.6rem;
  }

  /* ┌─────────────────────────────────────────┐
     │ 新しい価値の創造・科学と技術の調和                       │
     └─────────────────────────────────────────┘ */

  #products1 {
    margin-bottom: 17rem;
  }

  /* タイトルと画像の親コンテナ flexbox */
  .concept_container1 {
    margin-left: auto;
    width: 95%;

    display: flex;

    padding-right: 2rem;

    flex-direction: row-reverse;
  }

  /* タイトルと画像の親コンテナ flexbox */
  .concept_container2 {
    margin-right: auto;
    width: 95%;

    padding-left: 2rem;
  }

  /* └ 画像とcardのコンテナ */
  .concept_card {
    margin-top: 7rem;
  }

  .concept_text1 {
    width: 65%;
    height: 9rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    background-color: #f9e90699;
    text-align: center;

    font-size: 1.6rem;
    color: white;
  }

  /* --- レイアウト確認用（完成したら消す） --- */
  div,
  section,
  article,
  header,
  footer,
  nav,
  main {
    outline: 1px solid red !important;
  }
  img,
  svg {
    outline: 1px solid blue !important;
    background-color: rgba(0, 0, 255, 0.1);
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  a,
  li {
    outline: 1px solid limegreen !important;
  }
}
